*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

body {
    background-color:#faf0e6;
}

nav{
    background-color: #3B3632;
    text-align: center;
    font-size: 15px;
    padding: 10px 0; 
}


nav a{
    color: white;
    text-decoration: none;
    margin: 0px 10px 20px 20px;
    align-items: center;
    padding: 10px 10px 10px 5px; 
}

a:hover{
    background-color: #f0e0d2;
    color:#3B3632;
    border-radius: 3px;
    padding: 5px;
    transition-delay: 0.1s; 
    font-weight: bold;
}  

.foto-capa {
    max-height: 40vh;
}

.foto-capa img {
    max-height: 40vh;
    width: 100%;
    background-size: cover;
    border-bottom: 4px solid rgb(230, 207, 177);
}

.cardapio-bolos{
    display: flex;
    
}  

.foto-lado1 img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 725px;
    margin: 0 auto;
}

.pictures-bolos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.legenda{
    background-color: white;
}

.pictures {
    text-align: center;
}

.pictures div img {
    margin-left: 10px;
    border-radius: 5px;
    
    
}

.h1-bolo{
    font-family: 'Redressed', cursive;
    text-align: center;
    color: #3B3632;
    margin: 20px 0 40px 0;
    font-size: 40px;
}

.ornamento1{
    margin: -25px 20px 0;
}

.ornamento2{
    margin: -20px 20px 0 20px;
}

.ornamento1doces{
    margin: -2px 22px;
}

.ornamento2doces{
    margin: -2px 0 0 20px ;
}

.bolos:hover{
    cursor: pointer;
}

.doces:hover{
    cursor: pointer;
}

.h1-doce{
    font-family: 'Redressed', cursive;
    text-align: center;
    color: #3B3632;
    margin: 100px 0 100px 0;
    font-size: 40px;
    
}
.ornamento-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doces{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
   
}

.doces img{
    border-radius: 5px;
}

article p {
    font-family: 'Redressed', cursive;
    font-size: max(20px, 1.5vw);
    text-align: center;
    color:#3B3632;
    
}

.parallax{
    background-attachment: fixed;
}
.parallax img {
    width: 100%;
    max-height: 65vh;
    margin-top: 60px;
    
    
}
.informacoes{
    margin: 0;
    padding-bottom: 50px;
    background-color: antiquewhite;
    font-size: 12px;
    flex-direction: row;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
   
   
}

.tel-contato{
    color:#3B3632
}


footer{
    text-align: center;
    font-size: 12px;
    background-color: #3B3632;
    color: #f0e0d2;
    padding: 10px;
}



@media(max-width: 720px) {

    .foto-capa {
        
    }

    .cardapio-bolos {
        flex-direction: column-reverse;
    }

    .foto-lado1 img {
        display: flex;
        
        
    }
}